*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
main{
  width: 594px;
  height: 726px;
  background-color: #282726;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details-container h1{
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}
.details-container span{
  font-size: 0.875rem;
  font-weight: 500;
  color: #8E8E8E;
}

/* CSS for OnScreenKeyboard.jsx */
.screen-keyboard{
  width: 480px;
  height: 136px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 65px;
  
}
.screen-keyboard button{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
}

/* Styling Input field */
.word-box{
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.input-field{
  height: 40px;
  width: 40px;
  background-color: #323232;
  color: #F9F4DA;
  font-size: 1.125rem;
  text-align: center;
  border: none;
  border-bottom: 2px solid #c9c3a2;
  margin-right: 2px;
}
