*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
main{
  width: 594px;
  height: 726px;
  background-color: #282726;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details-container h1{
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}
.details-container span{
  font-size: 0.875rem;
  font-weight: 500;
  color: #8E8E8E;
}